/*******    VARIABLES     *******/
/*******    MIXINS    *******/
/*******    FLEX    *******/
/*******    DISPLAY PANNELS USER     *******/
/*******    FOOTER PANNELS USER     *******/
/*******    BUTTONS     *******/
/*******    RANGE INPUTS     *******/
/*******    RANGE INPUTS TRACKS    *******/
/*******    RANGE INPUTS THUMBS    *******/
/*******    RESET TEXT INPUTS     *******/
/*******    PLACEHOLDER INPUTS     *******/
/*******    FONTS     *******/
/*******    TITLE PANNELS USER     *******/
/*******    SUBTITLE PANNELS USER     *******/
/*******    TEXT PANNELS USER     *******/
/*******    BUTTON ANIMATION LOADER     *******/
.loaderCloth {
  height: 100%;
  width: 900px;
  position: absolute;
  background: linear-gradient(135deg, #00ccff, rgba(123, 235, 255, 0) 70.71%), linear-gradient(45deg, #cb12cb, rgba(162, 41, 199, 0) 70.71%), linear-gradient(225deg, #007cf0cb, rgba(0, 4, 255, 0) 70.71%), linear-gradient(315deg, #a024ff, rgba(105, 66, 211, 0) 70.71%);
  background-size: 150% 150%;
  z-index: 5000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: loadBackground 10s ease infinite;
          animation: loadBackground 10s ease infinite;
}

.loaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 450px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loaders_cloth {
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loaderStart 2s linear infinite;
          animation: loaderStart 2s linear infinite;
}

.loaders_cloth:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#3d3393), color-stop(37%, #2b76b9), color-stop(65%, #2cacd1), to(#35eb93));
  background-image: linear-gradient(to right, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loaders_cloth:nth-child(2) {
  background-image: -webkit-gradient(linear, right top, left top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loaders_cloth:nth-child(3) {
  background-image: -webkit-gradient(linear, right top, left top, from(#cc208e), to(#6713d2));
  background-image: linear-gradient(to left, #cc208e 0%, #6713d2 100%);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

/*******    ANIMATION     *******/
@-webkit-keyframes loaderStart {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loaderStart {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes loadBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes loadBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/*# sourceMappingURL=style.css.map */