@import "../../../scss/mixins";
@import "../../../scss/variables";

/*******    ERROR     *******/

.error-section {
  @include flex-mix(space-around, center);
  display: none;
  width: 100%;
  flex-direction: column;
  font-family: $subtitle-pannel;
  border-radius: 10px;
  margin: 1% 0 3%;
  // border: 1px solid red;

  &-title {
    @include font(1.5vmin, 17px);
    background: linear-gradient(to top, rgb(206, 0, 0), rgb(248, 104, 51));
    background-clip: text;
    color: transparent;
    transition: all 0.3s;
    animation: textError 0.8s;
  }

  &-msg {
    @include font(1vmin, 15px);
    background: linear-gradient(
      to bottom,
      rgb(237, 0, 0) 30%,
      rgb(248, 104, 51)
    );
    background-clip: text;
    color: transparent;
    animation: textError 0.8s;
  }
}

@keyframes textError {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0%);
  }
}
