@import "../../../scss/_mixins";
@import "../../../scss/_variables";

/*******    MAIN     *******/

// Container cloths components
.mainContainer {
  @include flex-mix;
  // position: fixed;
  height: 100vh;
  max-width: 750px;
  min-width: 950px;
  color: $primary;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
  // border: 1px solid red;
}
