@import "../../../scss/_mixins";
@import "../../../scss/_variables";

/*******    MAIN     *******/

// Container cloths components
.mainContainer {
  @include flex-mix;
  // position: fixed;
  height: 100vh;
  max-width: 750px;
  min-width: 950px;
  color: $primary;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
  transition: all 0.3s;
}

/*******    RESPONSIVE > 1200px     *******/
@media #{$laptop} {
  .mainContainer {
    margin: 0;
    // min-width: 1000px;
  }
}
