@import "../../../scss/_mixins";
@import "../../../scss/_variables";

/*******    APP     *******/

.App {
  @include flex-mix(space-around, center);
  width: 100%;
  position: relative;
  // background: linear-gradient($main-light, $main-dark);
  height: 100vh;
  overflow: AUTO;
}

.progressBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1%;
  // background: linear-gradient(to right, red, blue);
  animation: timeOut 300s linear;
}

@keyframes timeOut {
  from {
    background: linear-gradient(to right, red 100%, rgba(0, 0, 0, 0) 101%);
    width: 100%;
  }
  to {
    background: linear-gradient(to right, red 0%, rgba(0, 0, 0, 0) 1%);
    width: 0%;
  }
}
