@import "../../../scss/_mixins";
@import "../../../scss/_variables";

/*******    APP     *******/

.App {
  @include flex-mix(flex-start, center);
  width: 100%;
  position: fixed;
  height: 100vh;
  // background: #000;
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    #050872 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  padding: 1%;
  overflow: auto;
  overflow-y: hidden;
}

// Title component
.titleApp {
  @include font(3vmin, 35px);
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  font-family: "Biryani";
  font-weight: 200;
  background: linear-gradient(to top, rgb(140, 0, 255) 30%, cyan);
  background-clip: text;
  color: transparent;
  margin: 0 auto;
  // padding: 1%;
}
// Text component
.textApp {
  @include font(1.5vmin, 15px);
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-family: "Quicksand";
  line-height: calc(1.5vmin + 15px);
  margin-bottom: 1%;
  background: linear-gradient(to top, rgb(140, 0, 255) 10%, cyan);
  background-clip: text;
  color: transparent;
  margin: 0 auto 3%;
}

.progressBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1%;
  // background: linear-gradient(to right, red, blue);
  animation: timeOut 300s linear;
}

@keyframes timeOut {
  from {
    background: linear-gradient(to right, red 100%, rgba(0, 0, 0, 0) 101%);
    width: 100%;
  }
  to {
    background: linear-gradient(to right, red 0%, rgba(0, 0, 0, 0) 1%);
    width: 0%;
  }
}
