@import "../../../scss/mixins";
@import "../../../scss/variables";

/*******    PANNEL COMMAND     *******/

// Pannel command closed
.pannelCommand {
  @include flex-mix(space-between, center, column);
  width: 100%;
  height: 25%;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1000;
  font-family: "Quicksand";
  color: #fff;
  background: radial-gradient(circle at bottom, #00ccff 0%, #0f000e 60%);
  padding: 0.5%;
  border-radius: 25px 25px 0 0;
  overflow-y: auto;
  transition: transform 0.5s;

  &-head {
    @include flex-mix(flex-start);
    width: 100%;
  }
}

// Pannel command opened
.pannelCommand_open {
  @extend .pannelCommand;
  transform: translateX(0%);
  box-shadow: -3px 0px 10px 5px #0e99bc;
}

/*******    SELECT SHAPE     *******/
// Select shape container
.selectShape {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  justify-content: center;
  column-gap: 5%;
  row-gap: 15%;
  padding: 3%;

  &-buttons {
    @include button;
    @include flex-mix;
    @include font(1vmin, 17px);
    background: linear-gradient(to bottom, $shapePannel, $violet);
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
      0px 1px 3px rgba(7, 3, 53, 1);

    width: 90%;
    min-height: 35px;
    fill: #fff;
    margin: 0 auto;

    // svg button
    & svg {
      pointer-events: none;
    }
  }
}

/*******    CONFIG LAYOUT     *******/
// Config layout container
.configLayout {
  @include flex-mix(space-around, center);
  width: 100%;
  padding: 3% 0;

  // Containers inputs
  &-containers {
    width: 40%;
    display: flex;
    flex-wrap: wrap;

    & label {
      width: 100%;
      flex-grow: 5;
      text-align: center;
      margin-bottom: 5%;
    }
  }

  &-buttons {
    @include button;
    @include flex-mix;
    @include font(1vmin, 19px);
    width: 40%;
    min-height: 35px;
    flex-grow: 1;
    fill: #fff;
  }
}
// state positions X & Y
.pos-live {
  @include font(1.2vmin, 17px);
  font-family: $text-time;
  color: #fff;
}
// buttons add
.pos_add {
  border-radius: 0 5px 5px 0;
  background: linear-gradient(to bottom, $shapePannel, $violet);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(7, 3, 53, 1);

  & svg {
    transform: rotate(180deg);
  }

  &_y svg {
    transform: rotate(270deg);
  }
}
// buttons subtract
.pos_sub {
  border-radius: 5px 0 0 5px;
  background: linear-gradient(to bottom, $shapePannel, $violet);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(7, 3, 53, 1);

  &_y svg {
    transform: rotate(90deg);
  }
}

/*******    CONFIG DISPLAY     *******/
// container containers ranges
.configDisplay {
  width: 100%;

  // Containers range
  &-inputs {
    @include flex-mix(center, center);
    flex-direction: column;
    text-align: center;
    padding: 2% 7%;
  }

  &-label {
    @include font(1.2vmin, 15px);
    color: #fff;
    margin-bottom: 4%;
  }

  &-range {
    width: 100%;
  }
}

// range track
#{$rangeInput}.configDisplay-range::-moz-range-track {
  @include rangeTrack;
}
#{$rangeInput}.configDisplay-range#{$rangeTrack} {
  @include rangeTrack;
}
// range thumb
.configDisplay-range#{$rangeThumb} {
  @include rangeThumb;
}
.configDisplay-range::-moz-range-thumb {
  @include rangeThumb;
}
.configDisplay-range::-webkit-slider-thumb {
  @include rangeThumb;
}

/*******    CONFIG COLORS     *******/
// Config colors container
.configColors {
  @include font(1.2vmin, 15px);
  width: 100%;
  border-bottom: none;
  padding: 1% 5%;

  // title color
  &-label {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    margin-bottom: 4%;

    // title "s"
    & span {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  // Toggle "normal" // "gradient" container
  &-head {
    @include flex-mix(space-between, center);
    width: 100%;
  }

  // Buttons toggle "normal" // "gradient"
  &-toggle {
    @include font(1.1vmin, 15px);
    font-family: $text-pannel;
    color: #fff;
    width: 50%;
    cursor: pointer;
    padding: 1% 2%;
    background: transparent;
    border: 1px solid $userPannel;
    border-bottom: none;
    margin: 0;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;

    &:hover {
      filter: brightness(130%);
      box-shadow: 0px -3px 10px 1px $userPannel;
    }
  }

  // Containers with 2 containers "Normal" || "Gradient"
  &-containers {
    position: relative;
    overflow: hidden;
  }
}
// Buttons toggle "normal" // "gradient" disabled
.toggle_color_disab {
  opacity: 0.7;
  background: rgba($color: #300700, $alpha: 0.7);
  border: none;
  border-bottom: 1px solid $userPannel;

  &:hover {
    filter: brightness(130%);
    box-shadow: 0px -3px 10px 1px $userPannel;
  }
}

/*******    NORMAL COLOR     *******/
// Container normal color
.containerNormal {
  @include flex-mix(space-evenly, center, column);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;

  // container range opacity
  &-opacity {
    @include flex-mix;
    flex-direction: column;
  }
}

.normal-label-opacity {
  margin-bottom: 10%;
  color: #fff;
}

.normal-range-opacity {
  &:hover {
    border: none;
  }
}

// Range track opacity
#{$rangeInput}.normal-range-opacity#{$rangeTrack} {
  @include rangeTrack(50%, 25px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}
#{$rangeInput}.normal-range-opacity::-moz-range-track {
  @include rangeTrack(50%, 25px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}
// Range thumb opacity
.normal-range-opacity#{$rangeThumb} {
  @include rangeThumb(20px);
}
.normal-range-opacity::-moz-range-thumb {
  @include rangeThumb(20px);
}

// Input normal color
.normal-color-input {
  width: 70%;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s;
}

// Input normal color swatch
#{$colorInput}.normal-color-input#{$colorSwatch} {
  border-radius: 15px;
  min-height: 35px;
}
#{$colorInput}.normal-color-input::-moz-color-swatch {
  border-radius: 15px;
  min-height: 35px;
}

/*******    GRADIENT COLORS     *******/

// Container gradient color "Linear" || "Radial"
.containerGradient {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4% 1% 1%;
  opacity: 1;
  transform: translateX(100%);
  transition: all 0.5s;
}

// Container toggle gradient selector
.gradient-selector {
  @include flex-mix(space-around, center);
  margin-bottom: 3%;
}

// Button gradient selector actived
.gradient-selector-toggle {
  @include font(1.2vmin, 13px);
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  padding: 1px 3px;
  transition: all 0.3s;
  border-radius: 5px;
}

// Buttongradient selector disabled
.selector_toggle_disab {
  font-weight: 300;
  opacity: 0.5;
}

// Container range "Orientation" || "Rayon"
.gradient-orientation {
  @include flex-mix;
  flex-direction: column;
  margin-bottom: 5%;

  &-label {
    @include font(1.1vmin, 15px);
    color: #fff;
    transition: all 0.3s;
    margin-bottom: 4%;
  }

  // Range "Orientation" || "Rayon"
  &-input {
    @include inputRange;
  }
}

// Range track "Orientation" || "Rayon"
#{$rangeInput}.gradient-orientation-input#{$rangeTrack} {
  @include rangeTrack(20px, 10px);
}
#{$rangeInput}.gradient-orientation-input::-moz-range-track {
  @include rangeTrack(20px, 10px);
}
// Range thumb "Orientation" || "Rayon"
#{$rangeInput}.gradient-orientation-input#{$rangeThumb} {
  @include rangeThumb(20px);
}
#{$rangeInput}.gradient-orientation-input::-moz-range-thumb {
  @include rangeThumb(20px);
}

// Containers inputs colors & opacity
.gradient {
  &-inputs {
    @include flex-mix(center, center);

    // Containers 1 color & opacity
    &-colors {
      @include flex-mix;
      flex-direction: column;
    }
  }

  // Mabels opacity
  &-label-opacity {
    color: #fff;
    font-weight: 300;
  }

  // Ranges opacity
  &-range-opacity {
    width: 60%;
    margin: 8% 0 15%;
  }
}

// Range opacity tracks
#{$rangeInput}.gradient-range-opacity#{$rangeTrack} {
  @include rangeTrack(15px, 10px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}
#{$rangeInput}.gradient-range-opacity::-moz-range-track {
  @include rangeTrack(15px, 10px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}

// Range opacity thumbs
#{$rangeInput}.gradient-range-opacity#{$rangeThumb} {
  @include rangeThumb(15px);
}
#{$rangeInput}.gradient-range-opacity::-moz-range-thumb {
  @include rangeThumb(15px);
}

// Inputs color
.gradient-color-input {
  width: 100%;
  min-height: 30px;
  background-color: transparent;
  border: none;
  margin: 8% 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

// Input swatch primary color
#{$colorInput}.primary-color#{$colorSwatch} {
  border-radius: 15px 0 0 15px;
}
#{$colorInput}.primary-color::-moz-color-swatch {
  border-radius: 15px 0 0 15px;
}
// Input swatch secondary color
#{$colorInput}.secondary-color#{$colorSwatch} {
  border-radius: 0 15px 15px 0;
}
#{$colorInput}.secondary-color::-moz-color-swatch {
  border-radius: 0 15px 15px 0;
}

/*******    VALID SHAPE     *******/
// Container valid shape
.validShape {
  @include flex-mix(space-around, center);
  width: 100%;

  &-buttons {
    @include button;
    @include font(1vmin, 10px);
  }

  // Button reset
  &-reset {
    @include button;
    @include buttonColor(to bottom, #ffb199, #ff0844);
    width: 45%;
    color: white;
    padding: 2%;

    // &:hover {
    //   filter: brightness(110%) drop-shadow(0px 0px 5px rgb(249, 109, 135));
    // }

    &:active {
      box-shadow: inset 0px 0px 5px 1px rgb(77, 1, 1);
      filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
    }
  }
}

.button_validShape {
  width: 45%;

  // &:hover {
  //   // filter: brightness(110%) drop-shadow(0px 0px 5px rgb(189, 254, 242));
  // }
}

/*******    RESPONSIVE MOBIL FIRST     *******/
@media #{$smart} {
  // Pannel command closed
  .pannelCommand {
    bottom: initial;
    left: initial;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    transform: translate(100%, 0%);
    border-radius: 25px 0 0 25px;
    background: radial-gradient(circle, #00ccff 0%, #0f000e 60%);
  }

  // Pannel command opened
  .pannelCommand_open {
    transform: translate(0%, 0%);
    box-shadow: -3px 0px 7px 2px #0e99bc;
  }
  // Select shape container
  .selectShape {
    flex-grow: 0.15;
    column-gap: 10%;
    row-gap: 15%;
    padding: 0 1%;
  }

  .configDisplay {
    @include flex-mix(space-around, _, column);
    flex-grow: 0.5;
  }
  // Container valid shape
  .validShape {
    margin-bottom: 4%;
  }
}
/*******    RESPONSIVE TABLETT     *******/
@media #{$tablett} {
  // Pannel command closed
  .pannelCommand {
    width: 33%;
    max-width: 300px;
  }
  // Select shape buttons
  .selectShape {
    &-buttons {
      width: 80%;
      min-height: 30px;
      @include font(1vmin, 15px);
    }
  }
  // Config layout buttons + & -
  .configLayout-buttons {
    min-height: 30px;
    padding: 0;
  }
  .configDisplay {
    // range labels
    &-label {
      @include font(1vmin, 13px);
      margin-bottom: 2%;
    }
    // Ranges inputs
    &-inputs {
      padding: 0 7%;
    }
  }
  // Ranges height tracks
  #{$rangeInput}.configDisplay-range#{$rangeTrack} {
    @include rangeTrack(15px);
  }
  // Ranges height thumbs
  .configDisplay-range#{$rangeThumb} {
    @include rangeThumb(15px);
  }
  .configColors {
    @include font(1vmin, 13px);
    @include flex-mix(space-around, _, column);
    flex-grow: 0.3;

    // Title colors
    &-label {
      margin-bottom: 3%;
    }
    // Toggle Normal || Gradient
    &-toggle {
      font-size: calc(1vmin + 11px);
    }
    &-containers {
      padding-top: 2%;
    }
  }
  // Container Normal & Container Gradient
  .containerGradient {
    padding: 1%;
  }
  // Containers selectors gradient & label orientation || rayon
  .gradient-selector,
  .gradient-orientation {
    margin-bottom: 1%;
  }
  // Labels selector Linear || Gradient
  .gradient-selector-toggle {
    font-size: calc(1vmin + 10px);

    &:hover {
      color: $primary;
      filter: brightness(150%);
      box-shadow: 0px 0px 7px 1px $shapePannel;
    }
  }
  // Range height normal opacity track
  #{$rangeInput}.normal-range-opacity#{$rangeTrack} {
    @include rangeTrack(15px);
  }
  // Range height normal opacity thumb
  .normal-range-opacity#{$rangeThumb} {
    @include rangeThumb(15px);
  }

  // Label orientation || rayon
  .gradient-orientation-label {
    font-size: calc(1vmin + 10px);
  }
  // Range height orientation || rayon track
  #{$rangeInput}.gradient-orientation-input#{$rangeTrack} {
    @include rangeTrack(15px, 10px);
  }

  // Range height thumb "Orientation" || "Rayon"
  #{$rangeInput}.gradient-orientation-input#{$rangeThumb} {
    @include rangeThumb(15px);
  }

  // Range height opacity tracks
  #{$rangeInput}.gradient-range-opacity#{$rangeTrack} {
    @include rangeTrack(10px, 10px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
  }
  #{$rangeInput}.gradient-range-opacity::-moz-range-track {
    @include rangeTrack(10px, 10px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
  }
  // Range height opacity thumbs
  #{$rangeInput}.gradient-range-opacity#{$rangeThumb} {
    @include rangeThumb(10px);
  }
  #{$rangeInput}.gradient-range-opacity::-moz-range-thumb {
    @include rangeThumb(10px);
  }
  // Color inputs
  .gradient-color-input {
    margin: 0;
  }
  .validShape {
    // ValidShape buttons
    &-buttons {
      margin: 0;
    }
    // Button reset
    &-reset {
      font-size: calc(1vmin + 11px);
      padding: 2%;
    }
  }
  // Button submit
  .button_validShape {
    margin: 0;
    padding: 2%;
  }
}
/*******    RESPONSIVE > 1200px     *******/
@media #{$laptop} {
  // Pannel command closed
  .pannelCommand {
    width: 18%;
    height: 100%;
  }
  // Ranges inputs
  .configDisplay-inputs {
    padding: 1.5% 7%;
  }

  .validShape {
    // ValidShape buttons
    & button {
      font-size: calc(1vmin + 11px);
    }
  }
}
/*******    RESPONSIVE > 1600px    *******/
@media #{$large} {
  .pannelCommand {
    position: fixed;
    transform: none;
    max-width: 300px;
    border-radius: 20px;
    height: 98%;
    box-shadow: 3px 0px 25px 3px #0e99bc;
    margin: 0.5% 2%;
  }
}
