@import "../../../scss/variables";
@import "../../../scss/mixins";

/*******    CLOTHS     *******/
.clothsContainer {
  position: relative;
  // border: 2px solid red;
  overflow: auto;
  transition: all 0.5s;
}

.userCloth {
  position: absolute;
  width: 900px;
  height: 700px;
  overflow: hidden;
  background-color: rgba(72, 72, 72, 0.214);
  z-index: 5;

  &-container-shape {
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.serverCloth {
  width: 900px;
  height: 700px;
  position: relative;
  background-color: #fff;
  z-index: 0;
}

@media #{$tablett} {
  .clothsContainer {
    height: 80% !important;
  }
}
@media #{$laptop} {
  .clothsContainer {
    height: 100%;
  }
}
