@import "../../../scss/styles.scss";

.pannelCommand {
  width: 25%;
  height: 100vh;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  z-index: 1000;
  background-color: rgba($color: #801201, $alpha: 0.5);
  transition: transform 0.5s;
  padding: 0.5%;
  font-family: "Quicksand";
  color: $primary;
  border: 1px solid rgb(128, 9, 0);
  border-radius: 25px 0 0 25px;

  &-head {
    display: flex;
    justify-content: flex-start;
  }
}

.pannelCommand_open {
  transform: translateX(0%);
}

// SELECT SHAPE

.selectShape {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  justify-content: center;
  gap: 5%;
  padding: 1% 0;
  border: 1px solid blue;

  &-buttons {
    width: 50%;
    margin: 0 auto 2%;
  }
}

// CONFIG LAYOUT
.configLayout {
  width: 100%;
  @include flex-mix(space-around, center);
  padding: 1%;
  border: 1px solid red;

  &-containers {
    width: 40%;
    display: flex;
    flex-wrap: wrap;

    & label {
      width: 100%;
      flex-grow: 5;
      text-align: center;
      margin-bottom: 5%;
    }
    & button {
      width: 40%;
      flex-grow: 1;
    }
  }
}

.pos-live {
  font-weight: bold;
}

.pos_add {
  border-right: 0.5px solid $primary;
  border-radius: 5px 0 0 5px;
}
.pos_sub {
  border-radius: 0 5px 5px 0;
}
