@import "../../../scss/mixins";
@import "../../../scss/variables";

/*******    PANNEL COMMAND     *******/

// Pannel command closed
.pannelCommand {
  @include flex-mix(space-between, center, column);
  width: 100%;
  height: 25%;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1000;
  background-image: linear-gradient(
    180deg,
    rgba(21, 13, 107, 1) 1.1%,
    rgba(188, 16, 80, 1) 130.5%
  );
  transition: transform 0.5s;
  padding: 0.5%;
  font-family: "Quicksand";
  color: $secondary-light;
  border-radius: 25px 25px 0 0;
  overflow-y: auto;

  &-head {
    width: 100%;
  }
}

// Pannel command opened
.pannelCommand_open {
  @extend .pannelCommand;
  transform: translateX(0%);
  box-shadow: -3px 0px 10px 5px rgb(79, 65, 231);
}

/*******    SELECT SHAPE     *******/
// Select shape container
.selectShape {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  justify-content: center;
  gap: 10%;
  padding: 3% 0;
  // border: 1px solid blue;

  &-buttons {
    @include button;
    @include flex-mix;
    @include font(1vmin, 17px);
    width: 70%;
    fill: $primary;
    min-height: 35px;

    // svg button
    & svg {
      pointer-events: none;
    }
    margin: 0 auto 2%;
  }
}
.selectShape-buttons:nth-child(1) {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 55%, #00ddeb);
}
.selectShape-buttons:nth-child(2) {
  background-image: linear-gradient(210deg, #af40ff, #5b42f3 55%, #00ddeb);
}
.selectShape-buttons:nth-child(3) {
  background-image: linear-gradient(40deg, #af40ff, #5b42f3 55%, #00ddeb);
}
.selectShape-buttons:nth-child(4) {
  background-image: linear-gradient(320deg, #af40ff, #5b42f3 55%, #00ddeb);
}

/*******    CONFIG LAYOUT     *******/
// Config layout container
.configLayout {
  @include flex-mix(space-around, center);
  width: 100%;
  padding: 3% 0;
  // border: 1px solid red;

  // Containers inputs
  &-containers {
    width: 40%;
    display: flex;
    flex-wrap: wrap;

    & label {
      width: 100%;
      flex-grow: 5;
      text-align: center;
      margin-bottom: 5%;
    }
  }

  &-buttons {
    @include button;
    @include flex-mix;
    @include font(1vmin, 19px);
    width: 40%;
    min-height: 35px;
    flex-grow: 1;
    fill: $dark;
  }
}
// state positions X & Y
.pos-live {
  @include font(1.2vmin, 17px);
  font-family: $text-time;
}
// buttons add
.pos_add {
  border-radius: 0 5px 5px 0;
  background-image: radial-gradient(
    circle at left,
    #00b0eb 5%,
    #5b42f3 30%,
    #8913dd 80%
  );
}
// buttons subtract
.pos_sub {
  background-image: radial-gradient(
    circle at right,
    #00b0eb 5%,
    #5b42f3 30%,
    #8913dd 80%
  );
  border-right: 0.5px solid #00b0eb;
  border-radius: 5px 0 0 5px;
}

/*******    CONFIG DISPLAY     *******/
// container containers ranges
.configDisplay {
  width: 100%;
  // Containers range
  &-inputs {
    @include flex-mix(center, center);
    flex-direction: column;
    text-align: center;
    padding: 2% 7%;
    // border: 1px solid green;
  }

  &-label {
    @include font(1.2vmin, 15px);
    margin-bottom: 4%;
  }

  &-range {
    width: 100%;
  }
}

// range track
#{$rangeInput}.configDisplay-range#{$rangeTrack} {
  @include rangeTrack;
}
// range thumb
.configDisplay-range#{$rangeThumb} {
  @include rangeThumb;
}

/*******    CONFIG COLORS     *******/
// Config colors container
.configColors {
  width: 100%;
  border-bottom: none;
  padding: 1% 5%;
  @include font(1.2vmin, 15px);
  // border: 1px solid yellow;
  // title color
  &-label {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4%;

    // title "s"
    & span {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  // Toggle "normal" // "gradient" container
  &-head {
    @include flex-mix(space-between, center);
    width: 100%;
  }
  // Buttons toggle "normal" // "gradient"
  &-toggle {
    @include font(1.1vmin, 15px);
    font-family: $text-pannel;
    color: $violet;
    width: 50%;
    cursor: pointer;
    padding: 1% 2%;
    background: transparent;
    border: 1px solid $violet;
    border-bottom: none;
    margin: 0;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;

    &:hover {
      filter: brightness(130%);
      box-shadow: 0px -5px 5px $violet;
    }
  }

  // Containers with 2 containers "Normal" || "Gradient"
  &-containers {
    position: relative;
    overflow: hidden;
    // border: 1px solid yellow;
  }
}
// Buttons toggle "normal" // "gradient" disabled
.toggle_color_disab {
  opacity: 0.7;
  background: rgba($color: #300700, $alpha: 0.7);
  border: none;
  border-bottom: 1px solid $violet;
  &:hover {
    filter: brightness(110%);
    box-shadow: 0px -5px 8px $violet;
  }
}

/*******    NORMAL COLOR     *******/
// Container normal color
.containerNormal {
  @include flex-mix(space-evenly, center, column);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;

  // container range opacity
  &-opacity {
    @include flex-mix;
    flex-direction: column;
  }
}

.normal-label-opacity {
  margin-bottom: 10%;
  color: $primary;
}

.normal-range-opacity {
  &:hover {
    border: none;
  }
}

// Range track opacity
#{$rangeInput}.normal-range-opacity#{$rangeTrack} {
  @include rangeTrack(50%, 25px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}
// Range thumb opacity
.normal-range-opacity#{$rangeThumb} {
  @include rangeThumb(20px);
}

// Input normal color
.normal-color-input {
  width: 70%;
  // height: 25%;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s;
}

// Input normal color swatch
#{$colorInput}.normal-color-input#{$colorSwatch} {
  border-radius: 15px;
  min-height: 35px;

  &:hover {
  }
}

/*******    GRADIENT COLORS     *******/
// Container gradient color "Linear" || "Radial"
.containerGradient {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4% 1% 1%;
  opacity: 1;
  transform: translateX(100%);
  transition: all 0.5s;
}
// Container toggle gradient selector
.gradient-selector {
  @include flex-mix(space-around, center);
  margin-bottom: 3%;
}
// Button gradient selector actived
.gradient-selector-toggle {
  @include font(1.2vmin, 13px);
  font-weight: bold;
  cursor: pointer;
  color: $purple;
  transition: all 0.3s;

  &:hover {
    color: $primary;
    filter: brightness(150%);
  }
}
// Buttongradient selector disabled
.selector_toggle_disab {
  font-weight: 300;
  opacity: 0.5;
}

// Container range "Orientation" || "Rayon"
.gradient-orientation {
  @include flex-mix;
  flex-direction: column;
  margin-bottom: 5%;

  &-label {
    @include font(1.1vmin, 15px);
    color: $violet;
    transition: all 0.3s;
    margin-bottom: 4%;
  }
  // Range "Orientation" || "Rayon"
  &-input {
    @include inputRange;
  }
}
// Range track "Orientation" || "Rayon"
#{$rangeInput}.gradient-orientation-input#{$rangeTrack} {
  @include rangeTrack(20px, 10px);
}
// Range thumb "Orientation" || "Rayon"
#{$rangeInput}.gradient-orientation-input#{$rangeThumb} {
  @include rangeThumb(20px);
}

// Containers inputs colors & opacity
.gradient {
  &-inputs {
    @include flex-mix(center, center);

    // Containers 1 color & opacity
    &-colors {
      @include flex-mix;
      flex-direction: column;
    }
  }

  // Mabels opacity
  &-label-opacity {
    color: $primary;
    font-weight: 300;
  }

  // Ranges opacity
  &-range-opacity {
    width: 60%;
    margin: 8% 0 15%;
  }
}

// Range opacity tracks
#{$rangeInput}.gradient-range-opacity#{$rangeTrack} {
  @include rangeTrack(15px, 10px, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
}

// Range opacity thumbs
#{$rangeInput}.gradient-range-opacity#{$rangeThumb} {
  @include rangeThumb(15px);
}

// Inputs color
.gradient-color-input {
  width: 100%;
  min-height: 30px;
  background-color: transparent;
  border: none;
  margin: 8% 0;
  transition: opacity 0.3s;
}

// Input swatch primary color
#{$colorInput}.primary-color#{$colorSwatch} {
  border-radius: 15px 0 0 15px;
}
// Input swatch secondary color
#{$colorInput}.secondary-color#{$colorSwatch} {
  border-radius: 0 15px 15px 0;
}

/*******    VALID SHAPE     *******/
// Container valid shape
.validShape {
  @include flex-mix(space-around, center);
  width: 100%;

  &-buttons {
    @include button;
    @include font(1vmin, 10px);
    width: 45%;

    // padding: 2% 0;
    // margin: 2%;
  }
  // Button reset
  &-reset {
    @include button;
    @include buttonColor(to bottom, #ffb199, #ff0844);
    color: white;

    &:hover {
      filter: brightness(110%) drop-shadow(0px 0px 5px rgb(249, 109, 135));
    }

    &:active {
      box-shadow: inset 0px 0px 5px 1px rgb(77, 1, 1);
    }
  }
}

.button_validShape {
  width: 45%;

  &:hover {
    filter: brightness(110%) drop-shadow(0px 0px 5px rgb(189, 254, 242));
  }
}
