@import "../../../scss/mixins";
@import "../../../scss/variables";

/*******    BUTTONS & INPUTS     *******/

// Buttons close windows "User" & "Command"
.buttonsWindow {
  @include button;
  @include font(1vmin);
  background-color: transparent;
  margin: 0 1%;
  z-index: 1000;
}

.button_closeUser {
  fill: $secondary;
  border-radius: 50%;
  &:hover {
    fill: $primary;
  }
  &:active {
    fill: $secondary;
    transform: scale(1.1);
  }
}
.button_closeCommand {
  fill: $primary;
  &:hover {
    fill: $secondary;
  }
  &:active {
    fill: $primary;
    transform: scale(1.1);
  }
}

.back_pannel {
  @include button;
  @include font(1vmin);
  fill: $secondary;
  background-color: transparent;
  &:hover {
    fill: $primary;
  }
  &:active {
    fill: rgb(144, 27, 180);
    transform: scale(1.1);
  }
}
// Button window user on main
.button_pannelUser {
  left: 0;

  @include buttonWindow(
    rgb(204, 38, 254),
    2vmin,
    15px,
    1%,
    3% 0 0 2%,
    150deg,
    rgba(183, 86, 248, 0.396),
    rgba(174, 0, 255, 0.703)
  );
}
// Button window command
.button_pannelCommand {
  right: 0;
  @include buttonWindow(
    rgba(2, 222, 204, 0.792),
    2vmin,
    15px,
    1%,
    3% 2% 0 0,
    230deg,
    rgba(1, 99, 164, 0.407),
    rgba(0, 255, 255, 0.341)
  );
}

.svg_window {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-linejoin: round;
  stroke-width: 2;
  pointer-events: none;
}

// Container SVG_Generator
.svg_model {
  @include flex-mix;
  color: blue;
}

// Buttons nav user
.buttonUser {
  @include button;
  // @include font(1.2vmin, 13px);
  width: 65%;
  margin: 2% 0;
  color: white;

  &:hover {
    filter: brightness(100%) drop-shadow(0px 0px 5px $primary);
  }
}

.buttonAction {
  @include button;
  // @include font(1.5vmin, 10px);
  width: 65%;
  margin: 2% 0;
  color: white;

  &:hover {
    filter: brightness(100%) drop-shadow(0px 0px 5px $secondary-light);
  }

  &:active {
    box-shadow: inset 0px 0px 8px 3px $secondary-light;
  }
}

// INPUTS TEXT
.inputUser {
  // @include flex-mix(flex-start);
  flex-direction: column;
  position: relative;
  width: 100%;
  color: $dark;
  padding: 1% 0%;
  transition: all 0.3s;
  // border: 1px solid black;
  margin: 2% 0;

  &_error {
    @extend .inputUser;
    // padding-bottom: 15%;
  }

  &-input_invalid {
    background: #fa99999e;
    color: rgb(192, 0, 0) !important;
  }

  &-input:valid {
    background: rgb(207, 253, 207);
    color: rgb(37, 162, 148) !important;
  }

  &-input {
    // width: 70%;
    // margin-bottom: 2%;
    border: 1px solid blue;
    transition: all 0.3s;
  }
  &-error {
    width: 90%;
    font-family: $subtitle-pannel;
    text-align: center;
    background: linear-gradient(to bottom, rgb(122, 30, 26), rgb(151, 53, 0));
    background-clip: text;
    color: transparent;
    z-index: 3;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    margin: 0 auto;
    transition: all 0.3s;
    transform: translateY(-100%);

    &_visible {
      @extend .inputUser-error;
      opacity: 1;
      transform: translateY(0%);
      margin-top: 1%;
    }
  }
}

.formNoValid {
  filter: none !important;
  color: $secondary !important;
  // @include formNoValid;
  animation: formNoValid 1.8s linear forwards;
}

/*******    SPINNER BUTTON     *******/
.spinnerButton {
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;

  &-spinner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    animation: loaderButton 1s linear infinite;
  }
}

.spinner1 {
  animation-delay: 0.1s;
}
.spinner2 {
  animation-delay: 0.2s;
}
.spinner3 {
  animation-delay: 0.3s;
}

@keyframes loaderButton {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
