@import "../../../scss/mixins";
@import "../../../scss/variables";

/*******    BUTTONS     *******/

// Buttons close windows "User" & "Command"
.buttonsWindow {
  @include button;
  @include font(1vmin);
  width: auto;
  background-color: transparent;
  margin: 0 1%;
  z-index: 5000;
}

// Button close user window
.button_closeUser {
  fill: $secondary;
  border-radius: 50%;
  &:hover {
    fill: $primary;
  }
  &:active {
    fill: $secondary;
    transform: scale(1.1);
  }
}

// Button colse command window
.button_closeCommand {
  fill: $primary;
  &:hover {
    fill: $secondary;
  }
  &:active {
    fill: $primary;
    transform: scale(1.1);
  }
}

// Buttons Open windows
.buttons_windows {
  @include flex-mix;
  @include font(2vmin, 15px);
  appearance: none;
  position: fixed;
  top: 0;
  background: transparent;
  padding: 1%;
  border-radius: 50%;
  margin: 3% 0 0 0;
  cursor: pointer;
  border: none;
  transition: all 0.3s, border none;
}
// Button window user on main
.button_pannelUser {
  color: rgb(204, 38, 254);
  left: 0;
  margin-left: 2%;

  &:hover {
    box-shadow: 0 0 10px 1px rgb(204, 38, 254);
  }
  &:active {
    color: rgb(204, 38, 254);
    box-shadow: 0 0 10px 3px rgb(204, 38, 254);
    background: transparent;
  }
}
// Button window command
.button_pannelCommand {
  color: rgba(2, 222, 204, 0.792);
  right: 0;
  margin-right: 2%;
  &:hover {
    box-shadow: 0 0 10px 1px rgba(2, 222, 204, 0.792);
  }
  &:active {
    color: rgba(2, 222, 204, 0.792);
    box-shadow: 0 0 10px 3px rgba(2, 222, 204, 0.792);
    background: transparent;
  }
}
// SVG button window
.svg_window {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-linejoin: round;
  stroke-width: 2;
  pointer-events: none;
}

// Container SVG_Generator
.svg_model {
  @include flex-mix;
}

// Buttons nav user
.buttonUser {
  @include button;
  margin: 3% 0;
  color: white;

  &:hover {
    filter: brightness(100%) drop-shadow(0px 0px 5px $primary);
  }
}

// Buttons action socket
.buttonAction {
  @include button;
  margin: 2% 0;
  color: white;

  &:hover {
    filter: brightness(100%) drop-shadow(0px 0px 5px $secondary-light);
  }

  &:active {
    box-shadow: inset 0px 0px 8px 3px $secondary-light;
  }
}

/*******    INPUTS     *******/

// Inputs text container
.inputUser {
  flex-direction: column;
  position: relative;
  width: 100%;
  color: $dark;
  padding: 1% 0%;
  transition: all 0.3s;
  margin: 2% 0;

  // Input with error msg
  &_error {
    @extend .inputUser;
    margin: 0;
  }

  &-input_invalid {
    background: #fa99999e;
    color: rgb(192, 0, 0) !important;
  }

  &-input:valid {
    background: rgb(207, 253, 207);
    color: rgb(37, 162, 148) !important;
  }

  &-input {
    transition: all 0.3s;
    color: $dark;
  }

  // Message error
  &-error {
    width: 90%;
    font-family: $subtitle-pannel;
    text-align: center;
    background: linear-gradient(to bottom, rgb(122, 30, 26), rgb(151, 53, 0));
    background-clip: text;
    color: transparent;
    z-index: 3;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    margin: 0 auto;
    transition: all 0.3s;
    transform: translateY(-100%);

    // Message error visible
    &_visible {
      @extend .inputUser-error;
      opacity: 1;
      transform: translateY(0%);
      margin-top: 1%;
    }
  }
}

/*******    ANIMATIONS BUTTON     *******/

// Animation button form no Valide
.formNoValid {
  filter: none !important;
  color: $secondary !important;
  animation: formNoValid 1.8s linear forwards;
}

// Loader button
.spinnerButton {
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;

  &-spinner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    animation: loaderButton 1s linear infinite;
  }
}

.spinner1 {
  animation-delay: 0.2s;
}
.spinner2 {
  animation-delay: 0.4s;
}
.spinner3 {
  animation-delay: 0.6s;
}

@keyframes loaderButton {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
    filter: brightness(200%);
  }
  to {
    opacity: 0;
  }
}

/*******    RESPONSIVE FIRST MOBIL     *******/
@media #{$smart} {
  // Buttons close windows "User" & "Command"
  .buttonsWindow {
    padding: 1%;
  }
  // Buttons Open windows
  .buttons_windows {
    margin-top: 2%;
  }
  // Buttons nav user & button socket action
  .buttonUser,
  .buttonAction {
    margin: 4% 0;
    padding: 3%;
  }
  // Inputs text container
  .inputUser {
    margin: 1% 0;
  }
}

/*******    RESPONSIVE TABLETT     *******/
@media #{$tablett} {
  // Buttons Open windows
  .buttons_windows {
    margin-top: 1%;
  }
  // Button window user on main
  .button_pannelUser {
    margin-left: 1%;
  }
  // Button window command
  .button_pannelCommand {
    margin-right: 1%;
  }
}

/*******    RESPONSIVE > 1200px     *******/
@media #{$laptop} {
  // Buttons nav user & button socket action
  .buttonUser,
  .buttonAction {
    margin: 3% 0;
    padding: 2%;
    font-size: calc(1vmin + 11px);
  }
  // Inputs text container
  .inputUser {
    padding: 1% 5%;
  }
}

/*******    RESPONSIVE > 1600px     *******/
@media #{$large} {
  // Button window user & window command
  .button_pannelCommand,
  .button_closeCommand,
  .button_pannelUser,
  .button_closeUser {
    display: none;
  }
}
