@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  @include flex-center;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 1% 2%;
  font-family: $text-pannel;
  min-height: 20px;
}

@mixin flex-mix($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}
