/*******    RESET     *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: $text-time;
  src: url("../public/fonts/DS-DIGI.TTF");
  font-display: swap;
}

input[type="range"] {
  @include inputRange;
}
input[type="range"]::-webkit-slider-runnable-track {
  @include inputRange;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-style: solid;
}

#thumb {
  transition: all 3s;
}

// WRAPPER NORMAL COLOR INPUT
#{$colorInput}#{$colorWrapper} {
  padding: 0;
}

#{$colorInput}#{$colorSwatch} {
  width: 100%;
  border: none;
}

form {
  width: 100%;
  @include flex-mix(space-evenly, center);
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid cyan;
  appearance: none;
}
input[type="text"] {
  @include resetInputs;
  @include font(1vmin, 11px);
}

input[type="text"]::-webkit-input-placeholder {
  @include placeholder;
  // z-index: 10;
}

input[type="mail"] {
  @include resetInputs;
  @include font(1vmin, 13px);
  // z-index: 10;
}

input[type="mail"]::-webkit-input-placeholder {
  @include placeholder;
}

input[type="password"] {
  @include resetInputs;
  @include font(1vmin, 13px);
}

input[type="password"]::-webkit-input-placeholder {
  @include placeholder;
}

// @keyframes pulse_SignIn {
//   from {
//     box-shadow: 0 0 0 -10px rgb(70, 221, 199);
//   }
//   to {
//     box-shadow: 0 0 0 10px rgba(70, 221, 199, 0.01);
//   }
// }

// @keyframes pulse_SignUp {
//   from {
//     box-shadow: 0 0 0 -10px rgb(69, 145, 252);
//   }
//   to {
//     box-shadow: 0 0 0 10px rgba(69, 145, 252, 0.01);
//   }
// }

// @keyframes pulse_LoggOut {
//   from {
//     box-shadow: 0 0 0 -10px rgb(190, 121, 255);
//   }
//   to {
//     box-shadow: 0 0 0 10px rgba(190, 121, 255, 0.01);
//   }
// }

// @keyframes pulse_Delete {
//   from {
//     box-shadow: 0 0 0 -10px rgb(246, 62, 155);
//   }
//   to {
//     box-shadow: 0 0 0 10px rgba(246, 62, 155, 0.01);
//   }
// }
// @keyframes pulse_Valid {
//   from {
//     box-shadow: 0 0 0 -10px rgb(53, 233, 74);
//   }
//   to {
//     box-shadow: 0 0 0 10px rgba(53, 233, 74, 0.01);
//   }
// }

// @keyframes pulse_Edit {
//   from {
//     box-shadow: 0 0 0 -10px rgb(10, 88, 202);
//   }
//   to {
//     box-shadow: 0 0 0 10px rgba(10, 88, 202, 0.01);
//   }
// }
