/*******    RESET     *******/
* {
  appearance: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  & svg {
    pointer-events: none;
  }
  & button {
    transition: all 0.3s;

    &:disabled {
      opacity: 0.5;
      color: $dark;
      pointer-events: inherit;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    appearance: none;
    font-weight: normal;
  }
}

// Inputs range
input[type="range"] {
  @include inputRange;
}
input[type="range"]::-webkit-slider-runnable-track {
  @include inputRange;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-style: solid;
}

#thumb {
  transition: all 3s;
}

// Wrapper color input
#{$colorInput}#{$colorWrapper} {
  padding: 0;
}
// Swatch color input
#{$colorInput}#{$colorSwatch} {
  width: 100%;
  border: none;
}

// Forms
form {
  appearance: none;
  width: 100%;
  @include flex-mix(space-evenly, center);
  flex-direction: column;
  flex-grow: 1;
  margin: 2% 0;
}
// Inputs text
input[type="text"],
input[type="mail"],
input[type="password"] {
  @include resetInputs;
  @include font(1vmin, 13px);
}
// Placeholder
input[type="text"]::-webkit-input-placeholder,
input[type="mail"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  @include placeholder;
}

// Responsive < 768px
@media #{$smart} {
  input[type="text"],
  input[type="mail"],
  input[type="password"] {
    width: 90%;
  }
}
// Responsive < 1501px
@media #{$laptop} {
  input[type="text"],
  input[type="mail"],
  input[type="password"] {
    font-size: calc(1vmin + 11px);
  }
} ;
