/*******    VARIABLES     *******/

// COLORS
$primary: #18c9f5;
$secondary-light: rgb(0, 255, 242);
$secondary: #8e0f57;
$dark: #050872;
$purple: rgb(238, 0, 238);
$violet: rgb(160, 36, 255);
// COMPONENTS

// FONTS
$title-app: "Biryani";
$subtitle-pannel: "Exo";
$text-pannel: "Quicksand";
$text-time: "DS_Digi";

// INPUTS RANGE
$rangeInput: "input[type=" range "]";
$rangeTrack: "::-webkit-slider-runnable-track";
$rangeThumb: "::-webkit-slider-thumb";

// INPUTS COLOR
$colorInput: "input[type=" color "]";
$colorWrapper: "::-webkit-color-swatch-wrapper";
$colorSwatch: "::-webkit-color-swatch";

// RESPONSIVE
// $smart: 576px;
// $smartMax: 768px;
// $tablett: 992px;
// $laptop: 1501px;
// $large: 1500px;

$smart: "only screen and (min-width:768px)";
$tablett: "only screen and (min-width:992px)";
$laptop: "only screen and (min-width:1201px)";
$large: "only screen and (min-width:1600px)";
