@import "./variables";
@import "./mixins";
@import "./placeholders";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: $text-time;
  src: url("../public/fonts/DS-DIGI.TTF");
  font-display: swap;
}

input[type="range"] {
  @include inputRange;
}
input[type="range"]::-webkit-slider-runnable-track {
  @include inputRange;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border-style: solid;
}

// WRAPPER NORMAL COLOR INPUT
#{$colorInput}#{$colorWrapper} {
  padding: 0;
}

#{$colorInput}#{$colorSwatch} {
  width: 100%;
  border: none;
}
