/*******    VARIABLES     *******/
/*******    VARIABLES     *******/
/*******    MIXINS    *******/
/*******    FLEX    *******/
/*******    DISPLAY PANNELS USER     *******/
/*******    FOOTER PANNELS USER     *******/
/*******    BUTTONS     *******/
/*******    RANGE INPUTS     *******/
/*******    RANGE INPUTS TRACKS    *******/
/*******    RANGE INPUTS THUMBS    *******/
/*******    RESET TEXT INPUTS     *******/
/*******    PLACEHOLDER INPUTS     *******/
/*******    FONTS     *******/
/*******    TITLE PANNELS USER     *******/
/*******    SUBTITLE PANNELS USER     *******/
/*******    TEXT PANNELS USER     *******/
/*******    BUTTON ANIMATION LOADER     *******/
@font-face {
  font-family: "DS_Digi";
  src: url("../../public/fonts/DS-DIGI.TTF");
  font-display: swap;
}

/*******    APP     *******/
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  background-color: #000;
  padding: 1% 2% 0;
  scroll-behavior: smooth;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*******    MAIN     *******/
.mainContainer {
  display: block;
  position: relative;
  max-width: 95vw;
  color: #18c9f5;
  overflow-x: scroll !important;
  overflow-y: auto;
  margin: 0 auto;
  -webkit-transition: all 0.3s, margin 0.5s ease-out;
  transition: all 0.3s, margin 0.5s ease-out;
}

/*******    TITLE APP     *******/
.titleApp {
  font-size: calc($vmin + $px);
  font-weight: normal;
  text-align: center;
  color: #fff;
  width: 100%;
  text-align: center;
  font-family: "Biryani";
  font-weight: 200;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #8c00ff), to(cyan));
  background: linear-gradient(to top, #8c00ff 30%, cyan);
  background-clip: text;
  color: transparent;
  margin-top: 2%;
}

/*******    TEXT APP     *******/
.textApp {
  font-size: calc($vmin + $px);
  font-weight: normal;
  text-align: center;
  color: #fff;
  width: 100%;
  text-align: center;
  font-family: "Quicksand";
  line-height: auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #8c00ff), to(cyan));
  background: linear-gradient(to top, #8c00ff 10%, cyan);
  background-clip: text;
  color: transparent;
}

/*******    PROGRESS BAR     *******/
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 217, 0.98)), color-stop(90%, rgba(174, 0, 255, 0.98)), to(rgba(7, 3, 53, 0.1)));
  background: linear-gradient(to right, rgba(255, 0, 217, 0.98) 0%, rgba(174, 0, 255, 0.98) 90%, rgba(7, 3, 53, 0.1) 100%);
}

/*******    RESPONSIVE > 992px     *******/
@media only screen and (min-width: 992px) {
  .App {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .mainContainer {
    max-height: 70%;
    margin: 2% auto;
  }
  .titleApp {
    margin-top: 0.5%;
  }
  .textApp {
    position: relative;
    width: 100%;
    margin: 1% 0;
  }
}

/*******    RESPONSIVE > 1200px     *******/
@media only screen and (min-width: 1201px) {
  .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 0 auto;
  }
  .mainContainer {
    max-width: 900px;
    max-height: 700px;
    margin: 0.5% auto 0;
  }
  .titleApp {
    font-size: calc(2.5vmin + 35px);
  }
  .textApp {
    font-size: calc(1.2vmin + 15px);
    margin-bottom: 1.5%;
  }
}

/*******    RESPONSIVE > 1600px     *******/
@media only screen and (min-width: 1600px) {
  .App {
    height: 100%;
    padding: 1% 4%;
  }
  .titleApp {
    font-size: calc(4vmin + 40px);
  }
}
/*# sourceMappingURL=styles.css.map */