@import "../../scss/variables";
@import "../../scss/mixins";

@font-face {
  font-family: $text-time;
  src: url("../../public/fonts/DS-DIGI.TTF");
  font-display: swap;
}

/*******    APP     *******/

.App {
  @include flex-mix(_, center);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-height: -webkit-fill-available;
  background-color: #000;
  padding: 1%;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

/*******    MAIN     *******/

// Container cloths components
.mainContainer {
  max-height: 82vh;
  color: $primary;
  overflow-x: scroll !important;
  overflow-y: auto;
  margin: 0 auto;
  transition: all 0.3s, margin 0.5s ease-out;
}

/*******    TITLE APP     *******/
.titleApp {
  @include font(3vmin, 35px);
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  font-family: "Biryani";
  font-weight: 200;
  background: linear-gradient(to top, rgb(140, 0, 255) 30%, cyan);
  background-clip: text;
  color: transparent;
  margin: 0 auto;
}

/*******    TEXT APP     *******/
.textApp {
  @include font(1.5vmin, 15px);
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-family: "Quicksand";
  line-height: auto;
  background: linear-gradient(to top, rgb(140, 0, 255) 10%, cyan);
  background-clip: text;
  color: transparent;
  margin: 0 auto 3%;
}

/*******    PROGRESS BAR     *******/
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1%;
  background: linear-gradient(
    to right,
    rgba(255, 0, 217, 0.98) 0%,
    rgba(174, 0, 255, 0.98) 90%,
    rgba(7, 3, 53, 0.1) 100%
  );
}

/*******    RESPONSIVE > 992px     *******/
@media #{$tablett} {
  .mainContainer {
    margin-top: 2%;
  }
  .textApp {
    margin-bottom: 1%;
  }
}

/*******    RESPONSIVE > 1200px     *******/
@media #{$laptop} {
  .App {
    @include flex-mix(center);
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
  }
  .titleApp {
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(2.5vmin + 35px);
  }
  .textApp {
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1.2vmin + 15px);
    margin-bottom: 1.5%;
  }
}

/*******    RESPONSIVE > 1600px     *******/
@media #{$large} {
  .App {
    @include flex-mix(space-around, center);
    padding: 1% 4%;
  }

  .titleApp {
    font-size: calc(4vmin + 40px);
  }
}
